.container {
    border: 2px solid red;
    width: 100%;
    overflow-x:  hidden;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}

.container div {
    flex: 1 1 auto;
}

.first_block {
    background-color: #1F2937;
    height: 100px;
    width: 100%;
}

.second_block {
    background-color: #1F2937;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.second_block div {    
    display: flex;
    flex-direction: column;
}

.third_block {
    height: 400px;
    width: 100%;
}

.fourth_block {
    background-color: #E5E7EB;
    height: 400px;
    width: 100%;
}

.fifth_block {
    height: 400px;
    width: 100%;

}

.sixth_block {
    background-color: #1F2937;
    height: 100px;
    width: 100%;
}

img {
    max-width: 50%;
    height: auto;
}