* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.first_block {
    border: 2px solid yellow;
    background-color: #1F2937;
    height: 100px;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: center;
}

.first_block header {
    border: 2px solid purple;
    width: 100%;
    display: flex;
    justify-content: center;
}

.first_block header h3 {
    border: 2px solid red;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex: 1; 
}

nav div {
    border: 2px solid red;
    width: 50px;
    color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    
}

nav {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    flex: 1;
}

.second_block {
    background-color: #1F2937;
    height: 400px;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 3vw;
}

.second_block div {    
    display: flex;
    flex-direction: column;
    flex: 1;
}

.second_block button {
    background-color: #008CBA;
    border-radius: 4px;
    border: none;
}

.second_block h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
    font-family: "Roboto";
}

.second_block p {
    color: #E5E7EB;
}

.third_block {
    height: 400px;
    width: 100%;
}

.fourth_block {
    background-color: #E5E7EB;
    height: 400px;
    width: 100%;
}

.fifth_block {
    height: 400px;
    width: 100%;

}

.sixth_block {
    background-color: #1F2937;
    height: 100px;
    width: 100%;
}

img {
    max-width: 50%;
    height: auto;
}